<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="fas fa-home"></span>&nbsp;Home</a>

            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link"><span class="fas fa-user"></span>&nbsp;About Me</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Pictures" class="nav-link"><span class="fas fa-user"></span>&nbsp;Pictures</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Resume" class="nav-link"><span class="fas fa-file-pdf"></span>&nbsp;Resume</a></li>

                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>