<h1>Who am I?</h1>
<hr/>
<h2>I am junior MIS major with elements of computing systems certificate at the University of Texas at Austin.</h2>
<p>After switching majors around at McCombs, I finally found that I have a passion for programming
    and computers. I love the logical, practical, and creative applications of computing.
    I have taken classes at UT for Python, database management, and I am currently in web design.
</p>
<br/>
<p>
    I love living in Austin and taking advantage of all it has to offer: the lake, amazing food, fun night life, live music, and tons of dogs.
I have a very open mind and love trying new things whether it be food or activities.
</p>
