
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome to my Home Page</h1>

<h4 class="text-center">I'm Alex Brittain! Glad you're here.</h4>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<img src="~/images/mainpic.PNG" alt="alex" title="alex"
    width="auto"
    height="350"
        />

<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary">About Me</a>
        <a asp-action="Resume" class="btn btn-primary">My Resume</a>
    </div>
</div>
<hr class="hr-danger" />