<h2>A picture is worth a thousand words</h2>
<hr />
<div class="align-self-sm-center">
    <img class="w-auto h-auto rounded mx-auto d-block"
         src="~/images/dog.jpg" alt="dog" title="dog" />
</div>
<h4 class="text-center">Random Dog and I. Also my first pic on Hinge.</h4>
<br />
<div class="align-self-sm-center">
    <img class="w-auto h-auto rounded mx-auto d-block"
         src="~/images/family.JPEG" alt="family" title="family" />
</div>
<h4 class="text-center">Family Photo</h4>
<br />
<div class="align-self-sm-center">
    <img class="w-auto h-auto rounded mx-auto d-block"
         src="~/images/grandpa.JPEG" alt="grandpa" title="grandpa" />
</div>
<h4 class="text-center">Grandpa Pic</h4>
